<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>elearning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div id="react-target"></div>
</body>