.course-presentation-item {
    .level {
        text-transform: uppercase;
    }
}

.course-filters {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 99999;
        padding: 1rem;

        &.is-visible {
            display: block;
        }
    }

    .toggle {
        text-transform: uppercase;
        margin-right: 2rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }
}

.course-thumbnail {
    max-width: 200px;
}

.prerequisite-link {
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;
    justify-content: left;
}

.enrollment-area {
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
}

.course-contents {
    .message {
        cursor: pointer;
    }
}

.course-tag {
    width: 80% !important;
}