.x-button {
    cursor: pointer;
    &:hover {
        background-color: red !important;
    }
    margin-top: 8px;
    margin-left: 8px;
}

.image {
    img {
        object-fit: cover;
    }
}

.card-image {
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}