// margin

.mt05 {
    margin-top: 0.5rem;
}

.mt075 {
    margin-top: 0.75rem;
}

.mb05 {
    margin-bottom: 0.5rem;
}

.mb075 {
    margin-bottom: 0.75rem;
}

.ml05 {
    margin-left: 0.5rem;
}

.ml075 {
    margin-left: 0.75rem;
}

.mr05 {
    margin-right: 0.5rem;
}

.mr075 {
    margin-right: 0.75rem;
}


.mt1 {
    margin-top: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.ml1 {
    margin-left: 1rem;
}

.mr1 {
    margin-right: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.ml2 {
    margin-left: 2rem;
}

.mr2 {
    margin-right: 2rem;
}

//padding
.pt1 {
    padding-top: 1rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pl1 {
    padding-left: 1rem;
}

.pr1 {
    padding-right: 1rem;
}

.pt2 {
    padding-top: 2rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.pl2 {
    padding-left: 2rem;
}

.pr2 {
    padding-right: 2rem;
}

