.fw-w {
    flex-wrap: wrap;
}

.jc-sb {
    justify-content: space-between;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.max-h-100 {
    max-height: 100px;
}

.max-h-105 {
    max-height: 105px;
}

.max-h-110 {
    max-height: 110px;
}

.max-h-150 {
    max-height: 150px;
}

.max-h-200 {
    max-height: 200px;
}

.max-h-250 {
    max-height: 250px;
}

.max-h-300 {
    max-height: 300px;
}